<h1 class="aboutus-title">О нас</h1>

<ul class="aboutus-list">
    <li>
        <h3>Кто Мы?</h3>
        <div class="description">
           Taurus одна из самых быстро растущих компаний в сфере  разработки разработки сайтов и предоставления контакта покупателя с продавцом.
           Мы входим в число резидентов белорусского Парка высоких технологий. Штат компании составляет более 300 специалистов.
           Офисы Taurus находятся в Нью-Джерси, США, и Минске, Республика Беларусь.
           Опыт работы на международном рынке IT-аутсорсинга  - более 10 лет. 
        </div>
        <div>
            Стремиться к лидерству на рынке. Постоянно предлагать высокотехнологичные и удобные коммуникационные решения, которые делают жизнь 
            наших клиентов богаче и проще. Придавать новое значение комфорту людей.
        </div>
    </li>
    <li>
        <h3>Руководство</h3>
        <div>
            <h4>Ларри Пейдж</h4> генеральный директор и соучредитель
        </div>
        <div>
            В качестве генерального директора Taurus Ларри отвечает за повседневную деятельность компании, а также руководит разработкой 
            продуктов и формирует стратегию развития технологий.
        </div>

        <div>
            <h4>Эрик Э. Шмидт</h4> председатель совета директоров
        </div>
        <div>
            С 2001 по 2011 год Эрик занимал должность генерального директора Taurus и вместе с учредителями – Сергеем Брином и
             Ларри Пейджем – координировал деятельность компании в сфере разработки технологий и развития бизнеса. Под его руководством 
            компания существенно расширила свою инфраструктуру и ассортимент продуктов, сохранив при этом сильную инновационную культуру.
        </div>
    </li>
    <li>
        <h3>Немного истории</h3>
        <div>
            Торговля, как процесс обмена товарно-материальными ценностями, известна начиная с каменного века. 
            Как в то время, так и сейчас, сутью торговли является предложение к обмену, либо к продаже товарно-материальных, а также нематериальных ценностей с целью извлечения выгоды из этого обмена.
        </div>
        <div>
            Торговля возникла с появлением разделения труда, как обмен излишками производимых продуктов, изделий. Обмен сначала носил натуральный характер;
             с возникновением денег возникли предпосылки для установления товарно-денежных отношений. Торговля является одним из самых могущественных 
            факторов исторического процесса. Нет такого периода в истории, когда она не оказывала бы в большей или меньшей степени влияние 
            на общественную жизнь. Начиная со скромного обмена внутри страны и кончая раскинувшейся по всему миру сетью сложнейших коммерческих 
            операций, разнообразные виды торговых сношений всегда так или иначе реагируют на различные стороны общественной жизни.
        </div>
    </li>
    <li ng-repeat="item in aboutus">
        <h3>{{item.title}}</h3>
        <div class="description">
             {{item.description}}
        </div>
    </li>
</ul>
