<h1 class="title"></h1>

<div class="main-cover" id="contacts">
    <div class="content">
        <h3>Контакты</h3>
        <div class="description">
            Связаться с нами можно по телефонам:
            <div>+375 33 649 27 **</div>
            <div>+375 29 649 27 **</div>
            <div>+375 25 649 27 **</div>
        </div>

        <h3>Режим работы:</h3>
        <div class="description">
            <div>Пн. - Пт. : 9.00 - 19.00</div>
            <div>Выходной: Сб, Вс</div>
        </div>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1175.7171512516627!2d27.545610692043546!3d53.888484279863334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfde3277091b%3A0x79a0333efea0f95a!2z0YPQuy4g0KLQvtC70YHRgtC-0LPQviwg0JzQuNC90YHQuiwg0JHQtdC70LDRgNGD0YHRjA!5e0!3m2!1sru!2s!4v1420467045640" 
            width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>
